@font-face { font-family: 'PyeongChangPeace-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2'); font-weight: 700; font-style: normal; }
@font-face {
    font-family: "PyeongChangPeace-Light";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2")
        format("woff2");
    font-weight: 300;
    font-style: normal;
}

body {
    text-align: center;
    background: url(earthMaskWhite.png) no-repeat center fixed;
    background-size: cover;
    background-color: #1D0090;

}

#content-container {
    margin: 5% 36% 0 36%;
    width:28%;
    border-style: none;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.7);
}

#back-btn-container {

    text-align: left;

    /* margin-top -> padding-top */
    padding-top: 3%;
    margin-left: 2%;
    /* 10% -> 15% 변경 */
    width: 15%;
    height: 15%;

    
}

#back-btn {
    border-style: none;
    background-color:transparent;
}

#logo-container {
    width: 34%;
    margin-left: 33%;
    margin-right: 33%;
}

img {
    max-width: 100%;
}

#profile-container {
    position: relative;
    margin-left: 25%;
    margin-bottom: 10%;
    width: 50%;

    overflow: hidden;
    background-color: white;


    border-style: none;
    border-radius: 50%;
}

#profile-container:before {
    content: "";
    display: block;
    padding-top: 100%;
}

#profile-container > img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#greeting {
    font-family: 'PyeongChangPeace-Light';
}

#start-btn-container {
    padding: 0 17% 10% 17%;
}

#start-btn {
    font-family: 'PyeongChangPeace-Bold';

    width: 100%;

    color: #1D0090;
    padding: 5% 20%;

    font-weight: 700;
    /* font-size: ; */

    border-style: none;
    border-radius: 10px;
    background-color: #FFE500;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

button:hover {
    cursor: pointer;
}

#start-btn:hover {
    opacity: 0.8;
}