@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PyeongChangPeace-Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

/* 모달창의 배경을 만든다 */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);

  display: flex;
  align-items: center;
}

/* 모달창 영역을 꾸민다 */
.modal-box {
  margin-left: 32%;
  margin-right: 32%;
  width: 36%;
  height: 70vh;

  background-color: white;
  border-radius: 10px;

  font-family: "PyeongChangPeace-Bold";
  color: #1d0090;

  padding: 1% 1% 5% 1%;
}

#close-btn-container {
  text-align: right;
  height: 6%;
}

#close-btn-container > img {
  max-height: 100%;
  object-fit: cover;
}

/* ---------------- */
#header {
  width: 80%;
  height: 10%;
  margin-left: 10%;
  margin-left: 10%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 5%;
  border-bottom: dashed 1px rgba(29, 0, 144, 0.6);
}

#flag-container {
  display: inline;
  border: solid 1px;
  border-radius: 50%;

  position: relative;
  width: 17%;
  text-align: center;

  overflow: hidden;
}

#flag-container:before {
  content: "";
  display: block;
  padding-top: 100%;
}

#flag-container > img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

#header > p {
  margin-left: 7%;
  width: 76%;
  display: inline;
  font-size: x-large;
}
/* --------------- */

#score {
  height: 84%;
}

#score-header {
  margin: 0 15% 2% 15%;
  height: 18%;
  font-size: large;
}

#score-header > div,
.score-text,
.score-div > div > .stars-container {
  display: flex;
  justify-content: space-between;
}

#score-header > div > p,
.score-text > p {
  display: inline;
  text-align: center;
  margin-bottom: 0;
}

.stars-container > img {
  width: 15%;
}

/* ----------- */
.score-div {
  font-family: "PyeongChangPeace-Light";
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;

  height: 75%;
}

.score-div > div {
  height: 29%;
  margin-bottom: 1%;
}

.rating-star {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.star-btn-inactive {
  border: none;
  background-color: transparent;
  width: 20%;
}

.star-btn-inactive > img {
  max-width: 100%;
  object-fit: cover;
}

button:hover {
  cursor: pointer;
}
