@font-face {
    font-family: "PyeongChangPeace-Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
        format("woff2");
    font-weight: 700;
    font-style: normal;
}
html,
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
}

body {
    font-family: "PyeongChangPeace-Bold";
    background-color: #1d0090;
}

.nav {
    width: 100vw;
    height: 10vh;
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffe500;
}

#name {
    color: #1d0090;
    text-align: center;
    margin: 1.2%;
    font-size: 30px;
}

#back {
    margin: 0.8%;
}

#my {
    margin: 0.8%;
}

#map {
    height: 600px;
    margin: 1% 25% 0% 25%;
}
