<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>🌟별천지🌟</title>
        <link href="./css/main.css" rel="stylesheet" />
        <!--{% './css/main.css' %}-->
    </head>
    <body>
        <img src="./media/main_logo.png" id="logo" />
        <!--{% './media/main_logo.png' %}-->
        <form class="btn">
            <a href="./login.html" id="log">
                <!--{% './login.html' %}-->
                <input type="button" class="main_btn" value="로그인" />
            </a>
            <!--{% url 'login' %}-->
            <a href="{% url 'kakao' %}" id="kakao"
                ><button type="button" class="main_btn">
                    <div class="kakao_div">
                        <img src="./media/kakao.png" id="kakao_logo" />
                        <!--{% url './media/kakao.png' %}-->
                        <span id="kakao_text">카카오톡으로 시작하기</span>
                    </div>
                </button></a
            >
            <a href="./join.html" id="join"
                ><input type="button" class="main_btn" value="회원가입"
            /></a>
            <!--{% url 'join' %}-->
        </form>
    </body>
</html>
