@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PyeongChangPeace-Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

html {
  font-size: 16px;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "PyeongChangPeace-Bold";
  background-color: #1d0090;
}

img {
  max-width: 100%;
}

#navbar {
  display: flex;
  justify-content: space-between;

  margin-top: 0;

  height: 10vh;

  background-color: #ffe500;
}

#navbar > span {
  color: #1d0090;
  font-weight: 700;
  display: flex;
  align-items: center;

  font-size: 1.5rem;
}

#navbar > button {
  background-color: transparent;
  border: none;

  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
}

/* ---------------- */
#my-main {
  margin: 0 6%;
  display: flex;
  justify-content: space-between;

  font-size: 1.3rem;
}

#my-main > div {
  display: inline-block;
}

/* ---------------- */
#profile-div {
  text-align: center;
  width: 27%;

  margin: 10% 0 5% 10%;
}

#edit-pic-container {
  margin-left: 50%;
  margin-right: 0;

  position: relative;
  bottom: 17%;
  left: 17%;

  width: 30%;
  border-style: none;
  border-radius: 50%;

  overflow: hidden;
  background-color: #ffe500;
}

#edit-pic-container > img {
  position: absolute;
  top: 27%;
  right: 0;
  bottom: 0;
  left: 25%;

  width: 50%;
  height: 50%;
  object-fit: cover;
}

#edit-pic-container:hover {
  cursor: pointer;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25),
    7px 14px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#save-btn {
  padding: 5% 30%;

  font-family: "PyeongChangPeace-Bold";
  color: #1d0090;
  background-color: #ffe500;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  font-size: 1.4rem;

  position: relative;
  bottom: 10%;
}

#save-btn:hover {
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25),
    7px 14px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#pic-container {
  position: relative;
  width: 100%;
  border-style: none;
  border-radius: 50%;

  overflow: hidden;
  background-color: white;
}

#pic-container:before,
#edit-pic-container:before {
  content: "";
  display: block;
  padding-top: 100%;
}

#pic-container > img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------------------- */

#info-form-div {
  width: 70%;
  margin-top: 5%;
}

#info-form-div > h2 {
  margin: 0% 8% 3% 8%;
  color: white;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input > input {
  font-family: "PyeongChangPeace-Light";
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  margin: 0% 8% 1% 8%;
  padding: 3%;

  background-color: #ffffff;
  background-image: url("/media/ch_g.png");
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 6%;
}

#navbar > button:hover {
  cursor: pointer;
}
