@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
      format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PyeongChangPeace-Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2")
      format("woff2");
  font-weight: 300;
  font-style: normal;
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;

  box-sizing: border-box;

  display: none;
}

.modal-content {
  background-color: white;
  width: 28vw;
  height: 80vh;
  border-radius: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 30px;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

/* --------close button-------- */

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  height: 5vh;
  width: 3vw;

  background-color: transparent;
  border: none;
}

.close-btn > img {
  max-height: 100%;
  object-fit: cover;
}

/* ---------header---------- */
#header {
  display: flex;
  flex-direction: row;

  height: 8vh;
  margin: 0% 10% 3% 10%;

  font-family: "PyeongChangPeace-Bold";
  color: #1d0090;
}

#modal-flag {
  border: solid 2px #1d0090;
  border-radius: 50%;
  position: relative;
  width: 18%;
  height: 100%;
  text-align: center;
  margin-left: 4%;

  overflow: hidden;
}

#modal-flag > div:before {
  content: "";
  display: block;
  padding-top: 100%;
}

#modal-flag > img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

#header-text {
  display: flex;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 0;
  margin-left: 10%;
  font-size: 1.8rem;
}

/* ---------rating-div--------- */
#rating-div {
  padding: 0% 10%;
  font-family: "PyeongChangPeace-Light";
  color: #1d0090;
}
.rating-text {
  display: flex;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 8%;
}

.rating-text > span {
  border: 2px solid #1d0090;
  border-radius: 10px;
  padding: 0.5% 1% 0.5% 1%;
}

#total {
  font-size: 1.5rem;
  font-family: "PyeongChangPeace-Bold";
  color: #1d0090;

  padding: 0 3%;
}

#safety,
#price,
#transport,
#entertainment,
#food {
  padding: 0% 12%;
  font-size: 1.5rem;
}

/* ---------rating form ----------*/
#star-rating-form fieldset {
  display: flex;
  flex-direction: row;
  border: none;
  padding: 1%;
  width: 100%;
}

#star-rating-form input[type="radio"] {
  display: none;
}