@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
      format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PyeongChangPeace-Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2")
      format("woff2");
  font-weight: 300;
  font-style: normal;
}

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "PyeongChangPeace-Bold";
  background-color: #1d0090;
}

img {
  max-width: 100%;
}

#navbar {
  display: flex;
  justify-content: space-between;

  margin-top: 0;

  height: 10vh;

  background-color: #ffe500;
}

#navbar > span {
  color: #1d0090;
  font-weight: 700;
  display: flex;
  align-items: center;

  font-size: 1.5rem;
}

#navbar > button {
  background-color: transparent;
  border: none;

  padding: 0.8%;
  display: flex;
  align-items: center;
}

#navbar > button > img {
  width: 50px;
}

/* ------------------ */

#my-main {
  margin: 0% 13%;
  display: flex;
  justify-content: space-between;

  font-size: 1.3rem;
}

#my-main > div {
  display: inline-block;
}

/* ---------------- */
#profile-div {
  text-align: center;
  width: 27%;

  margin: 10% 0 10% 10%;
}

#modify-btn {
  margin-top: 10%;
  padding: 2% 5%;
  font-family: "PyeongChangPeace-Light";
  color: #1d0090;
  background-color: #ffe500;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  font-size: 1.4rem;
}

#modify-btn:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      7px 14px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#logout-btn {
  margin-top: 5%;
  border: none;
  background-color: transparent;

  font-family: "PyeongChangPeace-Light";
  color: white;
  font-size: 1rem;
}

#logout-btn:hover {
  text-decoration: underline;
}

#pic-container {
  position: relative;
  width: 100%;
  border-style: none;
  border-radius: 50%;

  overflow: hidden;
  background-color: white;
}

#pic-container:before,
.city-flag-container:before {
  content: "";
  display: block;
  padding-top: 100%;
}

#pic-container > img,
#city-flag {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

#name-container {
  margin-top: 7%;
  padding: 5%;
  display: flex;
  justify-content: space-between;

  color: #1d0090;
  background-color: white;

  border-radius: 15px;
}

#name-container > button {
  font-family: "PyeongChangPeace-Light";
  border-style: none;
  border-radius: 10px;
  background-color: #ffe500;
}

#cities-div {
  width: 48%;
  margin-top: 5%;
  margin-right: 8%;
  color: white;
}

#cities-div > p {
  font-family: "PyeongChangPeace-Light";
}

#city-list-div {
  font-family: "PyeongChangPeace-Light";

  padding: 4% 4% 0 4%;
  height: 50%;
  background-color: white;
  overflow-y: scroll;

  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px #000;
}

#city-list-div::-webkit-scrollbar {
  border-style: none;
}

.city {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 18%;
  border-radius: 10px;
  border-style: none;

  background-color: #ffe500;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  padding: 2% 0 2% 3%;

  margin-bottom: 2%;
}

.city > button {
  border-style: none;
  background-color: transparent;
  width: 10%;
}

.city-flag-container {
  display: inline;
  position: relative;
  overflow: hidden;
  background-color: white;

  width: 11%;
  height: 100%;
  border-style: none;
  border-radius: 50%;
}

.city > span {
  color: #1d0090;
}

button:hover {
  cursor: pointer;
}

/* city-score 감춤 */
#city-score {
  display: none;
}