<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link href="{% static 'css/check.css' %}" rel="stylesheet" />
        <title>비밀번호 확인</title>
    </head>
    <body>
    {% block content %}
        <header class="nav">
            <img src="{% static 'media/back.png' %}" id="back" />
            <div id="name">마이페이지</div>
            <img src="{% static 'media/home.png' %}" id="home" />
        </header>
        <img src="{{user.profileImg.url}}" id="pro" />
        <form class="check" method="POST">
            {% csrf_token %}
            <div id="ex">비밀번호 확인</div>
            <input type="password" placeholder="password" id="pass"/>
            <input type="submit" value="개인정보 수정하기" id="fix" />
        </form>
    {% endblock %}
    </body>
</html>
