<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>로그인</title>
        {% load static %}
        <link href="{% static 'css/login.css' %}" rel="stylesheet" />

    </head>
    <body>

        <div class="login_box">
            <img src="{% static 'media/back.png' %}" id="back" onclick="goBack()" /><br />

            <img src="{% static 'media/logo.png' %}" id="logo" />
            {% block content %}
            <form class="input" method="post" enctype="multipart/form-data" action="{% url 'user:login' %}">
                {% csrf_token %}

                {% include "user/form_errors.html" %}

                <input type="text" placeholder="ID" id="id" name="username" value="{{ form.username.value|default_if_none:'' }}" />
                <input type="password" placeholder="password" id="pass" name="password" value="{{ form.password.value|default_if_none:'' }}"/>
                <input type="submit" value="로그인" id="log" />
                <div class="tojoin">
                    아직 회원이 아니신가요?
                    <a href="{% url 'user:join' %}" id="go">회원가입</a>

                </div>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    {% endblock %}
    </body>
</html>