<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/modal.css' %}" />
        <link rel="stylesheet" href="{% static 'css/mypage.css' %}" />
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

        <title>🌟마이페이지🌟</title>
    </head>

    <body>
        {% block content %}
        <div id="navbar">
            <button id="back-btn"><img src="{% static 'media/icBack.png' %}" alt="" /></button>
            <span>마이페이지</span>
            <button id="home-btn"><img src="{% static 'media/icHome.png' %}" alt="" /></button>
        </div>

        <div id="my-main">
            <div id="profile-div">
                <div id="pic-container">
                    <img src="{% static 'media/icMypageProfile.png' %}" alt="" />
                </div>
                <button id="modify-btn">개인정보 수정하기</button>
                <br />
                <button id="logout-btn">로그아웃</button>
            </div>

            <div id="cities-div">
                <h2><span id="username">ㅁㅁㅁ</span> 님의 마이페이지</h2>
                <p>내가 평가한 도시</p>
                <div id="city-list-div">
                    <div class="city">
                        <div class="city-flag-container">
                            <img
                                id="city-flag"
                                src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/800px-Flag_of_Japan.svg.png"
                                alt=""
                            />
                        </div>
                        <span id="continent">아시아</span
                        ><span id="country">일본</span
                        ><span id="city">도쿄</span>
                        <button class="get-modal-btn">
                            <img src="{% static 'media/icGo.png' %}" alt="" />
                        </button>

                        <!-- 도시에 대한 score 값들 -->
                        <div id="city-score">
                            <span id="total-score">1</span>
                            <span id="safety-score">2</span>
                            <span id="price-score">3</span>
                            <span id="transport-score">4</span>
                            <span id="entertainment-score">5</span>
                            <span id="food-score">1</span>
                        </div>
                    </div>

                    <div class="city">
                        <div class="city-flag-container">
                            <img
                                id="city-flag"
                                src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/1200px-Flag_of_France.svg.png"
                                alt=""
                            />
                        </div>
                        <span id="continent">유럽</span
                        ><span id="country">프랑스</span
                        ><span id="city">니스</span>
                        <button class="get-modal-btn">
                            <img src="{% static 'media/icGo.png' %}" alt="" />
                        </button>

                        <!-- 도시에 대한 score 값들 -->
                        <div id="city-score">
                            <span id="total-score">1</span>
                            <span id="safety-score">2</span>
                            <span id="price-score">3</span>
                            <span id="transport-score">4</span>
                            <span id="entertainment-score">5</span>
                            <span id="food-score">1</span>
                        </div>
                    </div>

                    <div class="city">
                        <div class="city-flag-container">
                            <img id="city-flag" src="" alt="" />
                        </div>
                        <span id="continent">유럽</span
                        ><span id="country">프랑스</span
                        ><span id="city">니스</span>
                        <button class="get-modal-btn">
                            <img src="{% static 'media/icGo.png' %}" alt="" />
                        </button>

                        <!-- 도시에 대한 score 값들 -->
                        <div id="city-score">
                            <span id="total-score">1</span>
                            <span id="safety-score">2</span>
                            <span id="price-score">3</span>
                            <span id="transport-score">4</span>
                            <span id="entertainment-score">5</span>
                            <span id="food-score">1</span>
                        </div>
                    </div>
                    <div class="city">
                        <div class="city-flag-container">
                            <img id="city-flag" src="" alt="" />
                        </div>
                        <span id="continent">아시아</span
                        ><span id="country">일본</span
                        ><span id="city">도쿄</span>
                        <button class="get-modal-btn">
                            <img src="{% static 'media/icGo.png' %}" alt="" />
                        </button>

                        <!-- 도시에 대한 score 값들 -->
                        <div id="city-score">
                            <span id="total-score">1</span>
                            <span id="safety-score">2</span>
                            <span id="price-score">3</span>
                            <span id="transport-score">4</span>
                            <span id="entertainment-score">5</span>
                            <span id="food-score">1</span>
                        </div>
                    </div>
                    <div class="city">
                        <div class="city-flag-container">
                            <img id="city-flag" src="" alt="" />
                        </div>
                        <span id="continent">아시아</span
                        ><span id="country">일본</span
                        ><span id="city">도쿄</span>
                        <button class="get-modal-btn">
                            <img src="{% static 'media/icGo.png' %}" alt="" />
                        </button>

                        <!-- 도시에 대한 score 값들 -->
                        <div id="city-score">
                            <span id="total-score">1</span>
                            <span id="safety-score">2</span>
                            <span id="price-score">3</span>
                            <span id="transport-score">4</span>
                            <span id="entertainment-score">5</span>
                            <span id="food-score">1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal">
            <div class="modal-content">
                <button class="close-btn">
                    <img src="{% static 'media/icClose.png' %}" alt="close-button" />
                </button>

                <div id="header">
                    <div id="modal-flag">
                        <img
                            src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/800px-Flag_of_Japan.svg.png"
                            alt=""
                        />
                    </div>
                    <h2 id="header-text">
                        <span id="modal-country">일본</span><span> - </span
                        ><span id="modal-city">도쿄</span>의 평점
                    </h2>
                </div>

                <div id="rating-div">
                    <div id="total">
                        <div class="rating-text">
                            <span class="rating-text-title">총 평점</span
                            ><span class="score">0점</span>
                        </div>
                        <form id="star-rating-form" action="">
                            <fieldset>
                                <input
                                    type="radio"
                                    name="star"
                                    value="1"
                                    id="rate1"
                                /><label for="rate1"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="2"
                                    id="rate2"
                                /><label for="rate2"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="3"
                                    id="rate3"
                                /><label for="rate3"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="4"
                                    id="rate4"
                                /><label for="rate4"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="5"
                                    id="rate5"
                                /><label for="rate5"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                            </fieldset>
                        </form>
                    </div>

                    <div id="safety">
                        <div class="rating-text">
                            <span class="rating-text-title">치안</span
                            ><span class="score"><span>0</span>점</span>
                        </div>
                        <form id="star-rating-form" action="">
                            <fieldset>
                                <input
                                    type="radio"
                                    name="star"
                                    value="1"
                                    id="rate1"
                                /><label for="rate1"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="2"
                                    id="rate2"
                                /><label for="rate2"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="3"
                                    id="rate3"
                                /><label for="rate3"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="4"
                                    id="rate4"
                                /><label for="rate4"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="5"
                                    id="rate5"
                                /><label for="rate5"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                            </fieldset>
                        </form>
                    </div>

                    <div id="price">
                        <div class="rating-text">
                            <span class="rating-text-title">물가</span
                            ><span class="score"><span>0</span>점</span>
                        </div>
                        <form id="star-rating-form" action="">
                            <fieldset>
                                <input
                                    type="radio"
                                    name="star"
                                    value="1"
                                    id="rate1"
                                /><label for="rate1"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="2"
                                    id="rate2"
                                /><label for="rate2"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="3"
                                    id="rate3"
                                /><label for="rate3"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="4"
                                    id="rate4"
                                /><label for="rate4"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="5"
                                    id="rate5"
                                /><label for="rate5"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                            </fieldset>
                        </form>
                    </div>

                    <div id="transport">
                        <div class="rating-text">
                            <span class="rating-text-title">교통 편의성</span
                            ><span class="score"><span>0</span>점</span>
                        </div>
                        <form id="star-rating-form" action="">
                            <fieldset>
                                <input
                                    type="radio"
                                    name="star"
                                    value="1"
                                    id="rate1"
                                /><label for="rate1"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="2"
                                    id="rate2"
                                /><label for="rate2"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="3"
                                    id="rate3"
                                /><label for="rate3"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="4"
                                    id="rate4"
                                /><label for="rate4"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="5"
                                    id="rate5"
                                /><label for="rate5"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                            </fieldset>
                        </form>
                    </div>

                    <div id="entertainment">
                        <div class="rating-text">
                            <span>즐길 거리</span
                            ><span class="score"><span>0</span>점</span>
                        </div>
                        <form id="star-rating-form" action="">
                            <fieldset>
                                <input
                                    type="radio"
                                    name="star"
                                    value="1"
                                /><label for="rate1"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="2"
                                /><label for="rate2"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="3"
                                /><label for="rate3"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="4"
                                /><label for="rate4"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="5"
                                /><label for="rate5"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                            </fieldset>
                        </form>
                    </div>

                    <div id="food">
                        <div class="rating-text">
                            <span>먹거리</span
                            ><span class="score"><span>0</span>점</span>
                        </div>
                        <form id="star-rating-form" action="">
                            <fieldset>
                                <input
                                    type="radio"
                                    name="star"
                                    value="1"
                                    id="rate1"
                                /><label for="rate1"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="2"
                                    id="rate2"
                                /><label for="rate2"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="3"
                                    id="rate3"
                                /><label for="rate3"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="4"
                                    id="rate4"
                                /><label for="rate4"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                                <input
                                    type="radio"
                                    name="star"
                                    value="5"
                                    id="rate5"
                                /><label for="rate5"
                                    ><img
                                        src="{% static 'media/icEmptyStar.png' %}"
                                        alt="star"
                                /></label>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'js/mypage-modal.js' %}"></script>
        <script src="{% static 'js/mypage.js' %}"></script>
        {% endblock%}
    </body>
</html>