<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Title</title>
</head>
<body>
    <h3>Reviews</h3>

    <form action="{% url 'test6:submit_review' location_id=reviews.location_id %}" method="POST">
        {% csrf_token %}
        <div>
                <label>치안</label>
                <div class="rate">
                    <input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
                    <input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
                    <input type="radio" name="rating" id="rating8" value="4.0" required /><label for="rating8" title="4"></label>
                    <input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
                    <input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
                    <input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
                    <input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
                    <input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
                    <input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
                    <input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
                </div>
            </br>
                <label>가성비</label>
                <div class="rate">
                    <input type="radio" name="rating" id="rating20" value="5" required /><label for="rating20" title="5"></label>
                    <input type="radio" name="rating" id="rating19" value="4.5" required /><label for="rating19" title="4.5" class="half"></label>
                    <input type="radio" name="rating" id="rating18" value="4.0" required /><label for="rating18" title="4"></label>
                    <input type="radio" name="rating" id="rating17" value="3.5" required /><label for="rating17" title="3.5" class="half"></label>
                    <input type="radio" name="rating" id="rating16" value="3" required /><label for="rating16" title="3"></label>
                    <input type="radio" name="rating" id="rating15" value="2.5" required /><label for="rating15" title="2.5" class="half"></label>
                    <input type="radio" name="rating" id="rating14" value="2" required /><label for="rating14" title="2"></label>
                    <input type="radio" name="rating" id="rating13" value="1.5" required /><label for="rating13" title="1.5" class="half"></label>
                    <input type="radio" name="rating" id="rating12" value="1" required /><label for="rating12" title="1"></label>
                    <input type="radio" name="rating" id="rating11" value="0.5" required /><label for="rating11" title="0.5" class="half"></label>
                </div>

        </div>
    </form>
</body>
</html>